<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body>
    <h1>Willando Blair</h1>
    <p>Have you ever wondered what determination looks like? Well, that's me! Hi, I'm Willando Blair, a tenacious 3rd year Software Engineering student at the University of the West Indies at Mona. My hobbies include playing the piano, watching anime, and playing sudoku. In the future, if God's willing, I'd like to become a Software Verification/ Test Engineer. Thank you!</p>
</body>
</html>